
body{
  margin: 0;
  padding: 0;
  background: #f1f5f8;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 600px;
  border: 0px solid red;
  /* text-align: center; */

}

.noTour {
  text-align: center;
}

.load{
  margin-top: 2rem;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  width: 5rem;
  height: 5rem;
  border-top: 3px solid red;
  border-right:  3px solid  transparent;
  border-bottom:  3px solid blue;
  border-left:  3px solid transparent;
  border-radius: 50%;
  animation: load 3s infinite linear;
}
.main{
  padding: 2rem;
}

.tour-txt{
  margin-top: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(16, 42, 66);
  border: 0px solid green;
  text-align: center;

}

.tour-txt::after{
content: '';
background: #49a6e9;
width: 60px;
height: 5px;
display: block;
margin: 0 auto;
padding: 0.045rem;
}

img{
  width: 100%;
  height: 300px;
  
}

.about{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(97, 125, 152);
  padding: 1rem;
}

.article-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: #fff;
  width:fit-content;
  border: 0px solid goldenrod;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 
}





.title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(16, 42,66);
  margin-right: 5rem;
  letter-spacing: 1.6px;

}

.title-para{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.showText{
  margin-left: 4px;;
  color: rgb(73, 166, 233);
  font-size: 16px;
  font-weight: 400;
  font-family: Arial;
  text-transform: capitalize;
  cursor: pointer;
  /* outline:0ch; */
}


.price{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(73, 166, 233);
  letter-spacing: 1.6px;
  background-color: rgb(230, 241, 248);
  padding: 0.2rem;
}
.btn{
  width: 16rem;
  padding: .3rem;
  margin-bottom: 2rem;
  border-color: rgb(187, 37, 37);
  background-color: rgb(255, 255, 525);
  border-radius: 5px;
  font-weight: 400;
  color: rgb(187, 37, 37);
  font-size: 16px;
  font-family: arial;
  letter-spacing: 1.6px;
  cursor: pointer;

  
}

.refresh-div{
  display: flex;
  align-items: center;
  padding: 5rem;

}

.refresh-btn{
  margin: 0 auto;
  padding: 0.6rem;
  text-transform: capitalize;
font-family: Arial;
font-size: 19.2px;
font-weight: 400;
color: rgb(255, 255, 255);
background: rgb(73, 166, 233);
border-radius: 5px;
border: none;
outline: none;
}




@keyframes load {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
  
}

